.ProfilePic {
    /* width: 100%; */
    /* margin: 0; */
    /* background-color: rgb(32,35,42); */
}

.ProfilePic img {
    width: 100%;

    border: solid black 1px;
    border-top-left-radius: 20px;   
}
